<!-- Add Provider Section -->
<section class="page-section" id="add-provider-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Add a New Provider</h2>
        <hr class="divider my-4">
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Nested Row within Card Body -->
      <div class="row o-hidden border-0">
        <div class="col-lg-12">
          <h1 *ngIf="submitted" class="mt-0 text-success">Submitted Successfully</h1>
          <form *ngIf="!submitted" class="user" [formGroup]="providersForm" (ngSubmit)="handleSubmit()">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputFirstName">First Name</label>
                <span class="text-danger ml-2" *ngIf="providersForm.get('firstname')?.touched && providersForm.get('firstname')?.errors?.['required']">*Required</span>
                <input type="text" class="form-control form-control-user" formControlName="firstname" id="inputFirstName" required>
              </div>
              <div class="col-sm-6">
                <label for="inputLastName">Last Name</label>
                <span class="text-danger ml-2" *ngIf="providersForm.get('lastname')?.touched && providersForm.get('lastname')?.errors?.['required']">*Required</span>
                <input type="text" class="form-control form-control-user" formControlName="lastname" id="inputLastName" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPosition">Position</label>
              <input type="text" class="form-control form-control-user" formControlName="position" id="inputPosition" required>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control form-control-user" formControlName="email" id="inputEmail" required>
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputPhone">Phone</label>
                <span *ngIf="providersForm.get('phone')?.touched && providersForm.get('phone')?.errors?.['required']" class="text-danger"> *Required</span>
                <input type="phone" class="form-control form-control-user" formControlName="phone" id="inputPhone" required>
                <div class="text-danger" *ngIf="providersForm.get('phone')?.touched && providersForm.get('phone')?.errors?.['pattern']">
                  Ex. 29-2343-24332
                </div>
              </div>
            </div>
            <hr class="divider my-4">
            <div class="form-group">
              <label for="inputCompanyName">Company</label>
              <input type="text" class="form-control form-control-user" formControlName="company_name" id="inputCompanyName"
                     required>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" formControlName="address" id="inputAddress" required>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" class="form-control" formControlName="address2" id="inputAddress2">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" formControlName="city" id="inputCity" required>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" formControlName="state" id="inputState" maxlength="2" required>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZipCode">Zip Code</label>
                <input type="text" class="form-control" maxlength="5" formControlName="postal_code" id="inputZipCode" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputDescription">Description</label>
                <textarea class="form-control form-control-user" formControlName="description" id="inputDescription"
                          ></textarea>
              </div>
              <div class="col-sm-6">
                <label for="inputTagLine">Tag Line</label>
                <textarea class="form-control form-control-user" formControlName="tagline" id="inputTagLine" required></textarea>
              </div>
            </div>
            <button [disabled]="providersForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit">
              Add Provider</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


